<html>
<head>
  LIBRARY Management
</head>
<title>index</title>
<body>
  SignUpHere<br>
<a href="/register">  <button type="button" onclick="{{ url_for('register')}}">SignUp</button></a><br>
<a href="/login">  <button type="button">login</button></a>
<a href="/frb"> <button type="button">Fetch/Return/Borrow</button></a>
<a href="/logout"> <button type="button">Logout </button></a>
<a href="/adbok"> <button type="button"> Add Book</button></a>
<script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
</body>
</html>
